[Unit]
Description=KorrinOS System Cleanup
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/opt/korrinos/os/apps/system-cleaner.sh quick

[Install]
WantedBy=multi-user.target
