[Unit]
Description=KorrinOS Automatic Backup
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/korrinos/os/system/backup-restore.sh auto

[Install]
WantedBy=multi-user.target
